<div class="container text-center" style="margin-top: 30px">
  <div class="row">

    <div class="col-sm col-lg-2 text-nowrap mb-3">
      <label class="connected" [innerHTML]="conStatus" [style]="conColor" title="connection state to SignalR"></label>
    </div>

    <div class="col-md input-group flex-nowrap mb-3">
      <input type="text" class="form-control" placeholder="Username" [disabled]="usernameDisabled" [(ngModel)]="username">
    </div>

    <div class="col-lg input-group flex-nowrap mb-3">
      <input type="text" class="form-control" placeholder="Message"  [(ngModel)]="message">
      <button class="btn btn-success" (click)="BtnCreateMemo()" [disabled]="btnDisabled">Create memo</button>
    </div>

  </div>
</div>

<!--[(ngModel)] -> two-way-binding from angular-->
<!--ONLY IN INPUT TAG-->
<!--[(ngModel)] -> banana-binding-->
