.connected{
  font-size: large;
  color: var(--sixthColor);
  border-radius: 25px;
  border: solid 2px;
  padding: 5px 12px 5px 5px;
  min-width: 154px;
}
/*
.username{
  text-align: center;
  font-size: large;
  color: #232323;
  background-color: var(--thirdColor);
  border: solid 2px transparent;
  border-radius: 25px;
}*/
