<div class="container text-center" style="margin-top: 30px">
  <div class="text-nowrap mb-3">
    <label class="connected" [innerHTML]="conStatus" [style]="conColor" title="connection state to SignalR"></label>
  </div>

  <div class="input-group flex-nowrap mb-3">
    <input type="text" class="form-control username" placeholder="Username" [disabled]="usernameDisabled" [(ngModel)]="username">
  </div>

  <div class="input-group flex-nowrap mb-3">
    <input type="text" class="form-control" placeholder="Message" [disabled]="messageDisabled"  [(ngModel)]="message">
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-danger mb-3" (click)="OnCancel()"><i class="bi bi-x-square"></i></button>
    <button class="btn btn-success mb-3" (click)="BtnCreateMemo()" [disabled]="btnDisabled"><i class="bi bi-check2-square"></i></button>
  </div>
</div>

<!--[(ngModel)] -> two-way-binding from angular-->
<!--ONLY IN INPUT TAG-->
<!--[(ngModel)] -> banana-binding-->
