<div class="container text-center" style="margin-top: 30px">

  <div class="input-group flex-nowrap mb-3">
    <input type="text" class="form-control" placeholder="Username" [disabled]="usernameDisabled" [(ngModel)]="username">
  </div>

  <div class="input-group flex-nowrap mb-3">
    <textarea type="text" class="form-control" placeholder="Message"  style="resize: both" rows="3"
              [disabled]="messageDisabled"  [(ngModel)]="message" (mousedown)="$event.stopPropagation()"></textarea>
  </div>

  <div class="btn-group" role="group">
    <button title="close window" class="btn btn-danger mb-3"  (click)="OnCancel()"><i class="bi bi-x-square"></i></button>
    <button title="create memo" class="btn btn-success mb-3" (click)="BtnCreateMemo()" [disabled]="btnDisabled"><i class="bi bi-check2-square"></i></button>
  </div>
</div>

<!--[(ngModel)] -> two-way-binding from angular-->
<!--ONLY IN INPUT TAG-->
<!--[(ngModel)] -> banana-binding-->
