<div [@closeBackground]="animateClosedBG ? 'closed' : 'start'" [hidden]="hideBackground" class="window">

  <div [@closeBackground]="animateAlert ? 'start' : 'closed'" class="alert alert-danger myAlert" role="alert" [innerHTML]="alertMessage">
  </div>

  <div [@closeBackground]="created ? 'start' : 'closed'" class="alert alert-success created" role="alert">
    The user was successfully created.
  </div>

  <form [@closeLogin]="animateClosing ? 'closed' : 'start'" [hidden]="hideLogin" #thisForm="ngForm" (ngSubmit)="onSubmit(thisForm)" novalidate class="login">

    <label class="title" [innerHTML]="loginTitle"></label>

    <input *ngIf="!createUser" [(ngModel)]="username" name="userName" type="text"     class="form-control"  placeholder="username">
    <input *ngIf="!createUser" [(ngModel)]="password" name="password" type="password" class="form-control"  placeholder="password">

    <input *ngIf="createUser" [(ngModel)]="username" name="userName" type="text"     class="form-control"  placeholder="enter username">
    <input *ngIf="createUser" [(ngModel)]="password" name="password" type="password" class="form-control"  placeholder="enter password">
    <input *ngIf="createUser" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control"  placeholder="confirm password">

    <div class="btn-group center" role="group">
      <button *ngIf="!createUser" type="button" (click)="ShowRegistration()" class="btn btn-sm btn-warning"><i class="bi bi-person-add"></i></button>
      <button *ngIf="!createUser" [disabled]="disableSubmit" type="submit"  class="btn btn-sm btn-success"><i class="bi bi-check-square"></i></button>
      <button *ngIf="createUser" type="button" (click)="ShowRegistration()" class="btn btn-sm btn-danger"><i class="bi bi-x-square"></i></button>
      <button *ngIf="createUser" type="button" [disabled]="confirmCreate" (click)="RegisterUser(thisForm)" class="btn btn-sm btn-success"><i class="bi bi-check-square"></i></button>
    </div>
  </form>
</div>
