.window{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: var(--secondColor);
  z-index: 9999;
}

.login{
  position: absolute;
  top: 20%;
  left: 42%;
  padding: 1.5%;
  z-index: 10000;
  border-radius: 25px;
  background-color: var(--firstColor);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.myAlert{
  text-align: center;
  color: var(--secondColor);
  background-color: darkred;
  border-color: transparent;
}

.userCreatedInfo{
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: var(--fourthColor);
  background-color: var(--fifthColor);
  border-color: transparent;
}

.title{
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  color: white;
}

input{
  margin-top: 2%;
}

.centerButtons{
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
