<button cdkDrag cdkDragBoundary=".windowBoundary" [hidden]="this.offcanvasService.hasOpenOffcanvas()"
        class="infoBox" title="Memoboard info.">
  <i class="bi bi-info-square overButton" style="cursor: pointer" (click)="openInfobox(infoBox)"></i>
</button>

<ng-template #infoBox>

  <div class="offcanvas-header text-bg-dark">
    <h2 class="offcanvas-title">Memoboard</h2>
    <button type="button" class="btn-close" (click)="closeInfobox()"></button>
  </div>

  <div class="offcanvas-body text-bg-dark">

    <div style="display: flex; justify-content: center; margin-bottom: 10%">
      <label class="connected" [innerHTML]="conStatus" [style]="conColor"
             ngbTooltip="connection state to SignalR" placement="bottom"></label>
    </div>

    <h4>Active users</h4>
    <hr/>

    <div class="itsMe">
      <i class="bi bi-person-circle" style="margin-right: 2%"></i><span></span>
      <p [innerHTML]="loggedUser"></p>
    </div>

    <div *ngFor="let user of userList;" style="font-size: 20px; display: flex; justify-content: left">
      <i *ngIf="user['value'] != loggedUser" class="bi bi-person-circle" style="margin-right: 2%"></i><span></span>
      <p [ngbTooltip]="user['key']" placement="right" [innerHTML]="user['value']" *ngIf="user['value'] != loggedUser"></p>
    </div>

    <div class="text-nowrap" style="display: flex; justify-content: center; position: absolute; bottom: 0; font-size: 12px;">
      <p style="margin-right: 10%; margin-left: 5%">
        version 0.4.5
      </p>
      <p>
        &copy; developed and designed by Michael Samula
      </p>
    </div>

  </div>
</ng-template>
