.infoBoxButton{
    position: absolute;
    top: 12vh;
    left: 12vh;

    width: 80px;
    height: 80px;

    border: 0px;
    border-radius: 50px;
    z-index: 100;

    font-size: 35px;
    color: var(--fourthColor);
    background-color: var(--sixthColor);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);

    cursor: move;
}

.connected{
  font-size: large;
  color: var(--sixthColor);
  border-radius: 25px;
  border: solid 2px;
  padding: 5px 12px 5px 12px;
  min-width: 154px;
}
