<div class="container text-center" style="margin-top: 10px">
  <div class="row">
    <div class="col input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">    <!--[(ngModel)] -> two-way-binding from angular-->
    </div>                                                                                      <!--[(ngModel)] -> banana-binding-->
    <div class="col input-group flex-nowrap">                                                   <!--ONLY IN INPUT TAG-->
      <input type="text" class="form-control" placeholder="Message"  [(ngModel)]="message">     <!--[(ngModel)] -> two-way-binding from angular-->
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="CreateMemo()">Create memo</button>
    </div>
  </div>
</div>

<app-memo-list></app-memo-list>                                                                 <!--import from the MemoModule the component memo-list-->


