<app-memo></app-memo>

<div class="container text-center" style="margin-top: 10px">
  <div class="row">
    <div class="col input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="col input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Message"  [(ngModel)]="message">
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="createMemo()">Create memo</button>
    </div>
  </div>
</div>

<div class="container text-center boundary" style="margin-top: 1%;">
  <div class="row row-cols-6">

    <div *ngFor="let memo of memos; let i = index">

      <div class="card border-dark mb-3 memoBox" cdkDragBoundary=".boundary" cdkDrag>
        <div class="card-header">
          {{memo.user}}
        </div>
        <div class="card-body">
          <p class="card-text">{{memo.message}}</p>
        </div>
      </div>

    </div>

  </div>
</div>


