:root{
  --width: 0px;
  --height: 0px;
}
.boundary {
  width:  var(--width);
  height: var(--height);
  max-width: 100%;
  border: solid 1px #ccc;
  border-radius: 25px;
  background-color: white;
}
