:root{
  --width: 0px;
  --height: 0px;
  --btnHeight: 0px;
  --windowHeight: 0px;
}
.boundary {
  width:  97%;
  height: var(--height);
  max-width: 100%;
  border-radius: 25px;
  background-color: white;
}

.windowBoundary{
  width: 100%;
  height: var(--windowHeight);
  border: 1px solid transparent;
}

.addMemoButton{
  background-color: #0d6efd;
  border-radius: 50px;
  z-index: 100;
  color: white;
  font-size: 35px;
  width: 100px;
  height: 100px;
  border: 0px;
  position: relative;
  top: var(--btnHeight);
  left: 10px;
  cursor: move;
}

.addMemoButton:active{
  background-color: #dc3545;
}

.createMemo{
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 100;
  min-width: 154px;
  cursor: move;
  background-color: #232323;
  border-radius: 25px;
}

.bi-file-earmark-plus:hover{
  color: #232323;
}
