<app-login></app-login>
<app-info [userCountInput]="userCounter"></app-info>

<div *ngIf="usernameIsSet" class="container windowBoundary">

  <button title="create a memo" class="addMemoButton" cdkDrag cdkDragBoundary=".windowBoundary" [hidden]="showBtn"><i class="bi bi-file-earmark-plus" (click)="SwitchBtnCreateMemo()" style="cursor: pointer"></i></button>
  <app-create-memo class="createMemo" (cancel)="SwitchBtnCreateMemo()" [hidden]="showCreateMemo" cdkDrag cdkDragBoundary=".windowBoundary"></app-create-memo>

  <div class="row text-center boundary" style="margin-top: 1%;">

    <div cdkDropList #startList="cdkDropList" [cdkDropListConnectedTo]="[activeList,finishedList]" [cdkDropListData]="startMemos" (cdkDropListDropped)="drop($event)" class="col myList">

        <label style="background-color: #ffc93c">Start</label>

        <app-memo-list
          *ngFor="let memo of startMemos;"
          [inputMemo]= "memo"
          [loggedUser]="loggedUser"
          (remove)="handleDelete($event)"
          (confirmChange)="handleChange($event)">
        </app-memo-list>

    </div>

    <div cdkDropList #activeList="cdkDropList" [cdkDropListConnectedTo]="[startList,finishedList]" [cdkDropListData]="activeMemos" (cdkDropListDropped)="drop($event)" class="col myList">

      <label style="background-color: #ff9a3c">Active</label>

      <app-memo-list
        *ngFor="let memo of activeMemos;"
        [inputMemo]= "memo"
        [loggedUser]="loggedUser"
        (remove)="handleDelete($event)"
        (confirmChange)="handleChange($event)">
      </app-memo-list>
    </div>

    <div cdkDropList #finishedList="cdkDropList" [cdkDropListConnectedTo]="[startList,activeList]" [cdkDropListData]="finishedMemos" (cdkDropListDropped)="drop($event)" class="col myList">

      <label style="background-color: #ff6f3c">Finished</label>

      <app-memo-list
        *ngFor="let memo of finishedMemos;"
        [inputMemo]= "memo"
        [loggedUser]="loggedUser"
        (remove)="handleDelete($event)"
        (confirmChange)="handleChange($event)">
      </app-memo-list>
    </div>
  </div>
</div>
