:root{
  --width: 0px;
  --height: 0px;
}

.windowBoundary{
  width: 98%;
  max-width: 100%;
}

.boundary {
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  height: var(--height);
  border-color: transparent;
  border-radius: 25px;
  background-color: transparent;
}

.addMemoButton{

  position: absolute;
  top: 1vh;
  left: 3vh;

  width: 100px;
  height: 100px;

  border: 0px;
  border-radius: 50px;
  z-index: 100;

  font-size: 35px;
  color: var(--firstColor);
  background-color: var(--secondColor);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);

  cursor: move;
}

.addMemoButton:active{
  background-color: #dc3545;
}

.createMemo{
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 100;
  min-width: 154px;
  cursor: move;
  background-color: var(--sixthColor);
  border-radius: 25px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.pulseAnimation{
  border-radius: 25px;
  padding: 5px;
  animation: pulse 3s infinite;
}

.pulseAnimation:hover{
  color: var(--sixthColor);
  animation: none;
}

label{
  display: block;
  position: sticky;
  top:0;
  height: 40px;
  padding-top: 7px;
  margin: 0 -0.75rem 25px -0.75rem;
  z-index: 5;
  font-size: larger;

  border-radius: 25px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius:  0 !important;

  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
}

.myList {
  max-height:var(--height);
  border: solid 1px var(--firstColor);
  display: block;
  border-radius: 25px;
  background-color: white;
  overflow-y:auto;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(21, 82, 99, 0.7);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(21, 82, 99, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(21, 82, 99, 0);
  }
}
/*  --- Hide scrollbar ---  */
/* width */
::-webkit-scrollbar {
  visibility: hidden;
}

/* Track - Schiene */
::-webkit-scrollbar-track {
  visibility: hidden;
}

/* Handle Balken*/
::-webkit-scrollbar-thumb {

  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  visibility: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.myList[_ngcontent-ng-c4294156452]::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.myList[_ngcontent-ng-c4294156452] {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 1000px) {
  .boundary {
    width: 100%;
  }
}

@media (min-width: 1000px) and (max-width: 1500px){
  .boundary {
    width: 95%;
  }
}

@media screen and (min-width: 1500px) {
  .boundary {
    width: 80%;
  }
}


