<!--various classes from bootstrap-->

<div class="card border-dark mb-3 memoBox" cdkDragBoundary=".boundary" cdkDrag>     <!--.boundary in css-->
  <div class="card-header">
    {{inputMemo.user.userName}}
  </div>
  <div class="card-body">
    <p *ngIf="!condition" class="card-text">{{inputMemo.message}}</p>

    <input  *ngIf="condition" type="text" class="form-control" [(ngModel)]="newMessage">

    <div class="btn-group" role="group">
      <button *ngIf="condition" title="cancel new message" class="btn btn-sm btn-danger"     (click)="onChange()"><i class="bi bi-x-square"></i></button>
      <button *ngIf="condition" title="confirm new message" class="btn btn-sm btn-outline-success"     (click)="onConfirmChange()"><i class="bi bi-check2-square"></i></button>
    </div>

    <div class="btn-group" role="group">
      <button *ngIf="!condition" title="edit message" class="btn btn-sm btn-outline-dark"      (click)="onChange()"><i class="bi bi-pencil-square"></i></button>
      <button *ngIf="!condition" title="delete memo in database" class="btn btn-sm btn-danger" (click)="onRemove()"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>


