<!--various classes from bootstrap-->

<!--Memo Card-->

<div [@showChange]="memoChanged ? 'start' : 'changed'" [@showNew]="memoNew ? 'start' : 'new'" class="card border-dark mb-3 memoBox" cdkDragBoundary=".boundary" cdkDrag>     <!--.boundary in css-->
  <div class="card-header">
    {{inputMemo.user.userName}}
  </div>
  <div class="card-body">
    <p *ngIf="!createNewMessage" class="card-text">{{inputMemo.message}}</p>

    <input *ngIf="createNewMessage" type="text" class="form-control" [(ngModel)]="newMessageInput">

    <div class="btn-group" role="group">
      <button *ngIf="createNewMessage" title="cancel new message" class="btn btn-sm btn-danger" (click)="OnChange()"><i class="bi bi-x-square"></i></button>
      <button *ngIf="createNewMessage" title="confirm new message" class="btn btn-sm btn-outline-success" (click)="OnConfirmChange()"><i class="bi bi-check2-square"></i></button>
    </div>

    <div class="btn-group" role="group">
      <button *ngIf="(!createNewMessage && iSaw && ((inputMemo.user.userName === loggedUser) || (loggedUser === 'Admin')))" title="edit message" class="btn btn-sm btn-outline-dark" (click)="OnChange()"><i class="bi bi-pencil-square"></i></button>
      <button *ngIf="(!createNewMessage && iSaw && ((inputMemo.user.userName === loggedUser) || (loggedUser === 'Admin')))" title="delete memo in database" class="btn btn-sm btn-danger" (click)="OnRemove()"><i class="bi bi-trash"></i></button>
    </div>

    <button *ngIf="(!iSaw)" title="click if you saw this memo" class="btn btn-sm btn-dark" (click)="iSawMemo()"><i class="bi bi-eye"></i></button>
  </div>
</div>


